@import '../../styles/mixins';
@import '../../styles/variables';

.header {
	padding: $global-padding;
	@include flex-align;
	justify-content: space-between;
}
.logo {
	@include nav-items(15px);
}
.nav-items {
	@include nav-items(58px);
}
.nav-item {
	@include nav-item;
}
.nav-item:nth-child(4) {
	background-color: $primary-color;
	color: #fff;
	border-radius: 8px;
	padding: 16px 40px;
	&:focus {
		color: $primary-color;
		background-color: #fff;
		border: 1px solid $primary-color;
	}
}
.nav-item:focus {
	color: $primary-color;
}
.title {
	text-decoration: none;
	color: $primary-color;
}
