.contactForm {
  padding: 20px 100px;
  background-color: #f7f6fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formBox {
  width: 768px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 70px 60px 50px;
  z-index: 100;
  align-self: center;
}

.formRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 100%;
}
.formRow input,
.formRow textarea {
  padding: 8px;
  border: 1px solid #c4c4c4;
}
.formRow input:focus {
  border: none;
  border-color: #007bff;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.formGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.send-msg-btn {
  width: 177px;
  padding: 21px;
  background-color: #7c4ee4;
  color: white;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
}
.send-msg-btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.send-msg-btn:hover {
  border: none;
}