@import '../../../styles/mixins';
@import '../../../styles/variables';

.contact-cards {
	@include flex-align;
	gap: 21px;
}
.contact-card {
	width: 400px;
	background-color: #fff;
	border-radius: 16px;
	@include flex-center(20px);
	align-items: center;
	padding: 38px 32px;
	text-align: center;
	&:hover {
		cursor: pointer;
		box-shadow: rgba(187, 136, 191, 0.835) 6px 2px 16px 0px,
			rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
	}
}
.icon {
	background-color: $primary-color;
	padding: 10px;
	width: 70px;
	height: 70px;
	border-radius: 100%;
	color: white;
}
.contact-card-name {
	color: $primary-color;
	font-weight: bold;
	font-size: 20px;
}
.contact-card-desc {
	@include regular-text-gray;
}
